<!-- Home.html -->
<div>
    <h1>Home.html</h1>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
            <a href="/BlackJack" class="card">
                <img src="Images/Home/BalckJack.jpg" alt="Black Jack" srcset="" />
            </a>
        </div>
        <div class="col">
            <a href="RockPaperSeasor" class="card">
                <img src="Images/Home/RockPaperSeaser.jpg" alt="Rock Paper Seaser" srcset="" />
            </a>
        </div>
        <div class="col">
            <a href="/BlackJack" class="card">
                <img src="Images/Home/Sudoku.jpg" alt="Sudoku" srcset="" />
            </a>
        </div>
        <div class="col">
            <a href="/RockPaperSeasor" class="card">
                <img src="Images/Home/TicTacToe.jpg" alt="Tic Tac Toe" srcset="" />
            </a>
        </div>
    </div>
</div>